Import pandas package to read data file and give it an alias as "pd"

In [1]:
import pandas as pd 
import numpy as np

Create a new variable "Failed" and assign it the read data file: failed_bank.csv. Encoding it to eliminate unicode error.

In [3]:
failed = pd.read_csv("failed_bank.csv", encoding = "ISO-8859-1")

In [6]:
failedb = pd.read_excel("failed_bank_dataset.xlsx")

use methods() and attributes to look at your data set and understand it.
Methods go with parenthesis. Eg: head(), describe(),info()
Attributes go without parenthesis. Eg: datatypes,shape,columns,value,index

In [7]:
failedb.head()

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
0,Almena State Bank,Almena,KS,15426,Equity Bank,2020-10-23,10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",2020-10-16,10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",2020-04-03,10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,2020-02-14,10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,2019-11-01,10534

In [4]:
failed.head()

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",03-Apr-20,10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535
4,City National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,01-Nov-19,10534

In [42]:
failed.describe()

              Cert           Fund
count    563.000000    563.000000
mean   31630.271758  10036.875666
std    16443.670177   1115.338358
min       91.000000   4645.000000
25%    20096.500000  10116.500000
50%    32165.000000  10257.000000
75%    35364.000000  10397.500000
max    58701.000000  10538.000000

In [43]:
failed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563 entries, 0 to 562
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Bank Name               563 non-null    object
 1   City                    563 non-null    object
 2   State                   563 non-null    object
 3   Cert                    563 non-null    int64
 4   Acquiring Institution   563 non-null    object
 5   Closing Date            563 non-null    object
 6   Fund                    563 non-null    int64
dtypes: int64(2), object(5)
memory usage: 30.9+ KB

In [44]:
failed.shape

(563, 7)

In [45]:
failed.values

array([['Almena State Bank', 'Almena', 'KS', ..., 'Equity Bank',
        '23-Oct-20', 10538],
       ['First City Bank of Florida', 'Fort Walton Beach', 'FL', ...,
        'United Fidelity Bank, fsb', '16-Oct-20', 10537],
       ['The First State Bank', 'Barboursville', 'WV', ...,
        'MVB Bank, Inc.', '03-Apr-20', 10536],
       ...,
       ['First Alliance Bank & Trust Co.', 'Manchester', 'NH', ...,
        'Southern New Hampshire Bank & Trust', '02-Feb-01', 4647],
       ['National State Bank of Metropolis', 'Metropolis', 'IL', ...,
        'Banterra Bank of Marion', '14-Dec-00', 4646],
       ['Bank of Honolulu', 'Honolulu', 'HI', ..., 'Bank of the Orient',
        '13-Oct-00', 4645]], dtype=object)

In [46]:
failed.columns

Index(['Bank Name ', 'City ', 'State ', 'Cert ', 'Acquiring Institution ',
       'Closing Date ', 'Fund'],
      dtype='object')

In [47]:
failed.index

RangeIndex(start=0, stop=563, step=1)

In [8]:
failed[0:4]

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund
0,Almena State Bank,Almena,KS,15426,Equity Bank,23-Oct-20,10538
1,First City Bank of Florida,Fort Walton Beach,FL,16748,"United Fidelity Bank, fsb",16-Oct-20,10537
2,The First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",03-Apr-20,10536
3,Ericson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20,10535